@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
/*font-family: 'Arimo', sans-serif; (how to call)*/
/*font-family: 'Reenie Beanie', cursive; (how to call)*/
body {
  background-color: #f9faf4;
}

h1 {
  font-family: "Reenie Beanie", cursive;
  color: black;
}
h2 {
  font-family: "Reenie Beanie", cursive;
  color: black;
}
h3 {
  font-family: "Reenie Beanie", cursive;
  color: black;
}
h4 {
  font-family: "Reenie Beanie", cursive;
  color: black;
}
h5 {
  font-family: "Reenie Beanie", cursive;
  color: black;
}
h6 {
  font-family: "Reenie Beanie", cursive;
  color: black;
}

p {
  font-family: "Arimo", sans-serif;
  font-size: 18px;
  color: black;
}

ul {
  font-family: "Arimo", sans-serif;
  color: black;
  font-size: 18px;
}
ol {
  font-family: "Arimo", sans-serif;
  color: black;
  font-size: 18px;
}

button {
  font-family: "Reenie Beanie", cursive;
  background-color: #f17a7e;
  color: black;
}
button:hover {
  font-family: "Reenie Beanie", cursive;
  border: 3px solid black;
  background-color: #f17a7e;
  color: black;
}
button:active {
  font-family: "Reenie Beanie", cursive;
  border: 1px solid black;
  background-color: #f9faf4;
  color: black;
}

a:link {
  font-family: "Arimo", sans-serif;
  color: black;
  font-size: 18px;
}
a:hover {
  font-family: "Arimo", sans-serif;
  color: black;
  font-size: 24px;
}
a:active {
  font-family: "Arimo", sans-serif;
  color: #4a6163;
  font-size: 18px;
}
